---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
	<body>
		<h1 class="text-center text-2xl font-bold">Astro</h1>
		<p>Minimal Reproduction of hybrid rendering issue</p>
	</body>
</BaseLayout>
