---
import { Button } from '@/components/ui/button';


const mainLinks = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'Blog',
    href: '/blog',
  },
];
---

<header
  class="sticky top-0 z-10 flex mb-8 w-full bg-background items-center border-b border-border/50 px-[clamp(0.75rem,3vw,2.5rem)] py-2">
<a href="/">
  <span
    class="logo flex h-9 items-center gap-x-2.5 pb-0.5 text-xl font-bold text-foreground text-nowrap">
    Astro Testing
  </span>
</a>
  <div class="button-container ml-2 flex w-full items-center justify-between">
    <nav>
      <span class="hidden gap-2 px-4 sm:flex">
        {
          mainLinks.map((link, index) => (
            <a href={link.href} class="rounded-md">
              <Button
                client:load
                aria-label={link.name}
                key={index}
                tabIndex={-1}
                variant="link"
                className="h-9 px-2 text-muted-foreground hover:text-foreground/80 hover:no-underline">
                {link.name}
              </Button>
            </a>
          ))
        }
      </span>
    </nav>
  </div>
</header>
