---
import ReactHeader from "@/components/ReactHeader.astro";
import "/src/styles/global.css";
import Meta from "@/components/Meta.astro";
---

<html lang="en" class="min-h-dvh w-dvw">
  <head>
    <Meta />
    <slot name="head" />
  </head>
  <body class="flex min-h-screen w-dvw flex-col items-center overflow-x-hidden">
    <!-- <header>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </header> -->
    <ReactHeader />
    <main class="grow">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
