---
import "/src/styles/global.css";
---

<html lang="en" class="min-h-dvh w-dvw">
  <head>
    <slot name="head" />
  </head>
  <body class="flex min-h-screen w-dvw flex-col items-center overflow-x-hidden">
    <header></header>
    <main class="grow">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
